<div class="ui container">
    <br/>
<div id="notice"><%= notice %></div>
<h1 class="ui header">View Contact</h1>

<h3 class="field ui header">
  <strong>Name:</strong>
  <%= @contact.name %>
</h3>

<h3 class="field ui header">
  <strong>Organization:</strong>
  <%= @contact.organization %>
</h3>

<h3 class="field ui header">
  <strong>Phone:</strong>
  <%= @contact.phone %>
</h3>

<h3 class="field ui header">
  <strong>Email:</strong>
  <%= @contact.email %>
</h3>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>
